body{
    background-color: mediumseagreen;
}
h1{
    width: 300px;
}
form{
    width: 200px;
    height: 200px;
    float: right;
}
img{
    margin-left: auto;
    margin-right: auto;
}
body button{
    width: 200px;
    height: 200px;
    margin: auto;
}

