<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>


    <form action="/login" method="POST">
        <label for="fname">Your name here:</label>
        <input type="text" id="fname" name="fname">
        <br>
        <input type="password" name="password" placeholder="hehehehe">
        <button type="submit">submit</button>
    </form>


    <img src="FBI.png" alt="" width="500px">

</body>

</html>